/* CSS for Memory Game */

body {
    text-align: center;
}

/* Navigation */

nav {
    background-color: #808080;
    text-align: center;
}

nav a {
    display: block;
    float: left;
    padding: 35px;
    background-color: #ffbf00;
    color: #ffffff;
}

nav a:hover {
    background-color: #ee5f3c;
}


h1 {
    color: #008080;
}
h2 {
    color: #FFD700;
}

p {
    text-align: center;
}

.board {
    display: inline-block;
    min-height: 50%;
    width: 50%;
    background-color: #355e3b;
}

.card {
    float: left;
    margin: 8%;
    height: 217px;
    width: 150px;
    background-color: #FFFF00;
    border: 1px solid #000000;
    border-radius: 10px;
}

.card img {
    width: inherit;
}

/* Footer */

footer {
    background-color: #808080;
    text-align: center;
}

#name {
    color: #FF0000;
}

/* Other */

.hidden {
    visibility: hidden;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
