/* CSS for Memory Game */

body {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}



/* Navigation */

nav {
    background-color: #808080;
    text-align: center;
}

nav a {
    display: block;
    float: left;
    padding: 35px;
    background-color: #ffbf00;
    color: #ffffff;
}

nav a:hover {
    background-color: #ee5f3c;
}



/* Main */

h1 {
    color: #008080;
}
h2 {
    color: #FFD700;
}

p {
    text-align: center;
}

#scoreboard {
    display: inline-table;
    background-color: #c0c0c0;
    height: 80px;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 10px;
}

#scoreboard div {
    display: table-cell;
    height: 60px;
    margin: 10px;
}

#display {
    float: left;
    width: 50%;
    background-color: #ffffff;
    border: 1px solid #000000;
}

#restartButton {
    float: right;
    width: 30%;
    background-color: #ed5565;
    border-bottom: 5px solid #da4453;
    border-radius: 10px;
}

#restartButton:hover{
    background-color: #ee6674;
}

#restartButton:active {
    background-color: #da4453;
}

#restartButton span {
    display: block;
    padding: 18px;
    color: #ffffff;
}

.board {
    display: inline-block;
    height: 70%;
    width: 70%;
    margin-bottom: 100px;
    background-color: #355e3b;
    border-radius: 20px;
}

.card {
    display: inline-block;
    vertical-align: top;
    /*float: left;*/
    margin: 8%;
    height: 217px;
    width: 150px;
    background-color: #FFFF00;
    border: 1px solid #000000;
    border-radius: 10px;
}

.card img {
    width: inherit;
}



/* Footer */

footer {
    background-color: #808080;
    text-align: center;
}

#name {
    color: #FF0000;
}



/* Other */

.hidden {
    visibility: hidden;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
